
.code-box {
    margin-left: 5px;
    margin-right: 5px;
    height: 40%;
    font-size: 10px;
    font-family: "Lucida Console", Monaco, monospace;	
}

.code-box-label {
    margin-left: 5px;
}

.review-button {
    background-color: #4682B4;
    border: none;
    margin-left: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rules-container-left {
    float: left;
    width: 10%;
    height: 800px;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
}

.rules-container-right {
    float: right;
    width: 87%;
    height: 800px;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    overflow: scroll;
}

.rule-button {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 80%;
    height: 10%;
    margin: 8px 3px 8px 10px;
}

.rules-container-right-panel {
    margin: 8px 8px 8px 5px;
}

.rules-container-right-addrule-button {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 5px 5px 5px 5px;
}

.rules-container-rule-element {
    text-align: center;
    font-size: 11px;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 3px 3px 3px 3px;
}

.account-dialog {
    width: 500px;
    height: 375px;
    margin: 10px 10px 10px 10px;
}

.account-dialog-edit {
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

.account-dialog-button {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 50%;
    height: 50px;
}

.account-dialog-welcometext {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

